body {
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: #000000;
    background-color: #efefef;
    
}

a {
    font-style: normal;
    font-family: "PT Sans", "Arial", sans-serif;
    text-decoration: none;
}

.wrapper {
    min-width: 768px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px #000000;
    background-color: darkcyan;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* стили для header */

.main-header {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 0;
    padding-left: 6%;
    padding-right: 6%;
    background-color: #ffffff; 
    box-sizing: border-box;
}

.main-navigation .nav-list {
    margin: 0;   
    padding: 0;
    font-size: 0;
}

.main-navigation .menu-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 16px;
    list-style: none;  
    font-size: 14px;
}

.menu-item:nth-child(2),
.menu-item:nth-child(3) {
    width: 27.1%;
}

.menu-item:first-child,
.menu-item:last-child {
    width: 22.9%;
}

.menu-item:nth-child(4n+3),
.menu-item:nth-child(4n+4) {
    text-align: right;
}

.menu-item:nth-child(3) {
    letter-spacing: 0.2px;
}

.main-navigation .link-menu,
.main-navigation .link-menu:link {
    color: #000000;
}

.main-navigation .link-menu:hover {
    color: #81b3d2;
}

.main-navigation .link-menu:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-navigation .no-active {
    color: #766357;
}

.logo-header {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 140px;
    height: 70px;
    transform: translate(-50%, 0);
    z-index: 1;
}


/* стили для index */

main h1 {
    width: 445px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.logo-main {
    min-height: 507px;
    padding-top: 77px;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-image: url("../img/main-strip.png"), url("../img/main-fond.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom center, center 22%;
    background-size: contain, cover;
    

}

.logo-main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sedona {
    padding-top: 45px;
    background-color: white;
    padding-bottom: 36px;
}

.sedona p{
    width: 70%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: normal;
    color: #333333;
    letter-spacing: 0.05px;
}

.features h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.feature-item {
    float: left;
    width: 33.33%;
}

.block-blue {
    background-color: #81b3d2;
}

.blue { 
    box-sizing: border-box;
    min-height: 256px;
    padding-top: 38px;
    background-color: #81b3d2;
}

.h-blue-one {
    width: 50%;
    color: #ffffff;
}

.h-blue-two {
    width: 60%;
    color: #ffffff;
}

.blue p {
    margin-top: 23px;
    color: #ffffff;
    line-height: 21px;
    font-weight: normal;
    text-align: center;
}

.blue p:last-child {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
}

.p-blue-one {
    width: 70%;
}

.p-blue-two {
    width: 80%;
}

.feature-pic {
    position: relative;
    float: left;    
    width: 66.66%;
    height: 256px;
    overflow: hidden;
}

.feature-pic img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.block-icon {
    background-color: #ffffff;
}

.feature-house::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    display: block;
    width: 75px;
    height: 72px;
    margin-left: -38px;
    background: url(../img/spritesheet.png) no-repeat -187px -79px;
}

.feature-food::after {
    content: "";
    position: absolute;
    top: 61px;
    left: 50%;
    display: block;
    width: 75px;
    height: 70px;
    margin-left: -38px;
    background: url(../img/spritesheet.png) no-repeat -9px -70px;
}

.feature-gift::after {
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    display: block;
    width: 65px;
    height: 76px;
    margin-left: -33px;
    background: url(../img/spritesheet.png) no-repeat -103px -52px;
}

.feature-item.icon {
    position: relative;
    box-sizing: border-box;
    width: 33.33%;
    min-height: 330px;
    padding-top: 144px;
    padding-bottom: 41px;
    background-color: #ffffff;
}

.icon h2 {
    margin-bottom: 23px;
    text-align: center;
}

.icon p {
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    text-align: center;
    line-height: 21px;
    color: #333333;
}

.p-house {
    width: 65%;
}

.p-food {
    width: 75%;
}

.p-gift {
    width: 75%;
}

.block-gray{
    background-color: #eeeeee;
}

.feature-item.gray {
    box-sizing: border-box;
    width: 33.33%;
    min-height: 256px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eeeeee;
}

.gray h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center
}

.h-gray-three {
    width: 55%;
}

.h-gray-four,
.h-gray-five {
    width: 40%;
}

.gray p {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    line-height: 21px;
    hyphens: auto;
}

.p-gray-three,
.p-gray-four,
.p-gray-five {
    width: 70%;
}

.gray p:last-child {
    margin-bottom: 0;
}

.interest{
    padding-top: 29px;
    background-color: #ffffff;
    text-align: center;
}

.interest h2 {
    font-size: 30px;
    line-height: 32px;
    margin-top: 23px;
    margin-bottom: 26px;
}

.interest p {
    line-height: 24px;
    font-weight: normal;
    color: #333333;
}
    
.interest h3 {
    box-sizing: border-box;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 30px 130px;
    font-size: 21px;
    text-align: center;
    background-color: #766357;
}

.interest a {
    color: #ffffff;
    display: block;
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}


/* поля формы */

.search-hotel {
    box-sizing: border-box;
    width: 570px;
    min-height: 395px; 
    padding-top: 55px;
    padding-left: 56px;
    padding-right: 55px;
    padding-bottom: 55px;
    margin: 0 auto;
    text-align: left;
    background-color: #ffffff;
}

.search {
    position:relative;
    min-height: 591px;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    z-index: 1;
}

.search-hotel {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -285px;  
}

.search-hotel input {
    text-transform: uppercase;
    border: none;
    font: inherit;
    cursor: pointer;
}

label {
    cursor: pointer;
    word-wrap: break-word;
}

label + .text {
    display: inline-block;
    vertical-align: 0;
}

.search-hotel .text {
    width: 346px;
    text-align: left;
}

.search-hotel > label:nth-of-type(1) {
    margin-right: 17px;
    letter-spacing: 0.3px;
}

.search-hotel > label:nth-of-type(2) {
    margin-right: 13px;
    letter-spacing: 0.3px;
}

.search-hotel > label:nth-of-type(3) {
    margin-right: 37px;
}

.search-hotel > label:nth-of-type(4) {
    margin-right: 23px;
}

.calendar-arrival {
    content: "";
    position: absolute;
    top: 62px;
    right: 63px;
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: url("../img/spritesheet.png") no-repeat -8px -9px;
    cursor: pointer;
}

.calendar-departure {
    content: "";
    position: absolute;
    top: 129px;
    right: 63px;
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: url("../img/spritesheet.png") no-repeat -8px -9px;
    cursor: pointer;
}

.calendar:hover {
    background-position: -49px -9px ;
}

.calendar:active {
    background-position: -90px -9px;
}

.search-hotel > input {
    box-sizing: border-box;
    width: 114px;
    height: 38px;
    margin-bottom: 29px;
    padding-left: 12px;
    border: none;
    text-align: center;
}

.search-hotel > input:nth-of-type(3) {
    margin-right: 50px;
    padding: 0;
}

.search-hotel > input:nth-of-type(4) {
    padding: 0;
} 

.btn-search {
    width: 458px;
    height: 58px;
    margin-top: 26px;
    font-size: 21px;
    border: none;
    color: #ffffff;
    background-color: #81b3d2;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-minus-adults {
    position: absolute;
    top: 204px;
    left: 179px;
    width: 16px;
    height: 12px;
    border: none;
    background: url("../img/spritesheet.png") no-repeat -141px -226px;
    cursor: pointer;
}

.btn-plus-adults {
    position: absolute;
    top: 202px;
    left: 255px;
    width: 14px;
    height: 14px;
    border: 0;
    background: url("../img/spritesheet.png") no-repeat -237px -228px;
    cursor: pointer;
}

.btn-minus-children {
    position: absolute;
    top: 204px;
    right: 142px;
    width: 16px;
    height: 12px;
    border: none;
    background: url("../img/spritesheet.png") no-repeat -141px -226px;
    cursor: pointer;
}

.btn-plus-children {
    position: absolute;
    top: 202px;
    right: 68px;
    width: 14px;
    height: 14px;
    border: 0;
    background: url("../img/spritesheet.png") no-repeat -237px -228px;
    cursor: pointer;
}

.btn-minus-status:hover {
    background-position: -173px -226px;
}

.btn-minus-status:active {
    background-position: -205px -226px;
}

.btn-plus-status:hover {
    background-position: -268px -228px;
}

.btn-plus-status:active {
    background-position: -141px -259px;
}

.btn-search:hover {
    background-color: #669ec0;
}

.btn-search:active {
    background-color: #5496bd;
    color: rgba(255,255,255,0.3)
}

.search-hotel input {
    background-color: #f2f2f2;
}

.search-hotel input:hover {
    background-color: #ebebeb;    
}

.search-hotel input:focus {
    background-color: #ffffff;
}


/* стили для footer */

.main-footer {
    position: relative;
    margin-top: -119px;
    padding-top: 37px;
    padding-bottom: 29px;
    background-color: rgba(255,255,255, 0.9);
    z-index: 2
}

.hotel-main-footer {
    padding-top: 36px;
    padding-bottom: 36px;
    background-color: #ffffff;
} 

.footer-visit {
    float: left;
    width: 33.33%;
    text-align: center;
}

.footer-visit p {
    margin: 0;
    margin-top: 10px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.footer-social {
    float: left;
    width: 33.33%;
    text-align: center;
}

.social-btn {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 2px;
    font-size: 0;
    vertical-align: top;
    background-color: #81b3d2;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
}

.social-tw::before {
    width: 17px;
    height: 15px;
    background-position: -286px -47px;
}

.social-tw:active:before {
    opacity: 0.3;
}

.social-fb::before {
    width: 10px;
    height: 19px;
    background-position: -256px -40px;
}

.social-fb:active:before {
    opacity: 0.3;
}

.social-yt::before {
    width: 20px;
    height: 16px;
    background-position: -323px -47px;
}

.social-yt:active:before {
    opacity: 0.3;
}

.footer-copyright {
    float: left;
    width: 33.33%;
    margin-top: 5px;
    text-align: center;   
}

.footer-copyright p {
    position: relative;
    bottom: 18px;
    width: 30%;
    margin: 0;
    margin-right: 4px;
    padding-top: 22px;
    display: inline-block;
    vertical-align: middle;    
    text-align: right;
    font-weight: normal;
    color: #333333;
}

.footer-copyright a {
    display: inline-block;
    vertical-align: top;
    width: 113px;
    height: 39px;
    margin-right: 12%;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -10px -171px;
}

.footer-copyright a:hover {
    background-position: -143px -171px;
}

.footer-copyright a:active {
    background-position: -10px -230px;
}

/* стили для sedona-hotel */

.container {
    padding-left: 6%;
    padding-right: 6%;
}

.active-hotels,
.active-hotels:hover {
    color: #766357;
}

.filter {
    box-sizing: border-box;
    min-height: 217px;
    padding-top: 27px;
    padding-bottom: 8px;
    color: #ffffff;
    background: #86a9c5 url("../img/hotels-fond.jpg") no-repeat top center;
}

.filter input {
    text-transform: uppercase;
    border: none;
    font: inherit;
}

.infrastructure {
    float: left;
    width: 23%;
    margin: 0;
    padding: 0;
    border-style: none;
    text-align: left;
}

.home {
    float: left;
    width: 25%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-left: 13px;
    border-style: none;
    text-align: left;
}

.price {
    float: right;
    width: 32%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
}

.filter-range-title {
    margin-bottom: 9px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-left: 21px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 22px;
    background: #ffffff;
}

.price-controls label {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price {
    width: 75px;
    padding-top: 5px;
    padding-left: 20%;
}

.price-controls .max-price {
    width: 75px;
    padding-top: 5px;
    padding-left: 23%;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    margin-left: 30px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background-color: #1c4f80;
}

.range-toggle-min {
    left: 21px;
}

.range-toggle-max {
    left: 81%;
}

.filter legend {
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 21px;
}

.price legend {
    margin-bottom: 10px;
    padding-left: 11px;
}

.filter label {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: block;
    width: 95px;
    margin-bottom: 21px;
    padding-left: 40px;
    line-height: 25px;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 27px;
    background: url("../img/spritesheet.png") no-repeat;
    background-position: -174px -261px;
}

input[type="checkbox"]:disabled + label::before {
    background-position: -216px -261px;
}

input[type="checkbox"]:checked + label::before {
    background-position: -133px -10px;
}

input[type="checkbox"]:checked:disabled + label::before {
    background-position: -179px -10px;
}

.btn-filter {
    margin-left: 31%;
    padding: 6px 33px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    background-color: transparent;
    cursor: pointer;
}

.btn-filter:hover {
    color: #000000;
    background-color: #ffffff;
}

.result-sorting {
    background-color: #ffffff;
}

.sorting {
    padding-top: 29px;
    padding-bottom: 29px;
}

.sorting > span:first-of-type {
    font-size: 21px;
    line-height: 26px;
}

.sorting > span:last-of-type {
    font-size: 12px;
    line-height: 18px;
}

.sorting > span:not(:last-of-type) {
    margin-right: 44px;
}

.sorting > ul {
    display: inline;
    margin-left: 37px;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
}

.sorting > ul > li {
    display: inline;
    margin-right: 30px;
    list-style: none;
}

.sorting-icon {
    float: right;
    width: 10%;
    text-align: right
}

.sorting-icon > ul {
    margin: 0;
    padding: 0;
}

.sorting-icon li {
    display: inline-block;
    vertical-align: top;    
    width: 14px;
    height:15px ;
    margin-left: 3px;
    list-style: none;
}

.sorting .sorting-up,
.sorting .sorting-up:link {
    display:inline-block;
    vertical-align: top;
    width: 14px;
    height: 11px;
    margin-top: 8px;
    border: none;
    background: url(../img/spritesheet.png) no-repeat -283px -111px;
}

.sorting .sorting-up:hover {
    background-position: -283px -82px;
}

.sorting .sorting-up:active {
    background-position: -314px -82px;
}

.sorting .sorting-down,
.sorting .sorting-down:link {
    display:inline-block;
    vertical-align: top;
    width: 14px;
    height: 11px;
    border: none;
    margin-top: 7px;
    background: url(../img/spritesheet.png) no-repeat -223px -38px;
}

.sorting .sorting-down:hover {
    background-position: -223px -8px;
}

.sorting .sorting-down:active {
    background-position: -254px -8px;
}

.sorting .active-price {
    color: #81b3d2;
    border: none;
}

.sorting a,
.sorting a:link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #b2b2b2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
    color: #81b3d2;
}

.sorting a:active {
    color: #000000;
    border: none;
}

.result {
    border-top: 1px solid #f2f2f2;
    padding-top: 26px;
    padding-bottom: 31px;
}

.result:last-child {
    border-bottom: 1px solid #f2f2f2;
}

.result-pic {
    float: left;
    width: 135px;
    margin-right: 30px;
    padding-top: 3px;
}

.result-pic img {
    display: block; 
    width: 135px;
    height: 90px;
   
}

.info {
    float: left;
    width: 40%;
}

.info h2 {
    margin: 0;
    margin-bottom: 6px;
}

.info b {
    display: inline-block;
    min-width: 26%;
    margin: 0;
    margin-bottom: 14px;
    vertical-align: top;
    line-height: 21px;
    font-weight: normal;
}

.info b:first-of-type {
    margin-right: 3px
}

.info h2:hover {
    color: #81b3d2;
}

.info h2:active {
    color: #b2b2b2;
}

.btn-info {
    font: inherit;
    margin-right: 3px;
    padding-top: 4px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 4px;
    border: none;
    color: #ffffff;
    background-color: #81b3d2;
}

.btn-info:hover {
    background-color: #669ec0;
}

.btn-info:active {
    color: rgba(255,255,255,0.3);
    background-color: #5496bd;
}

.btn-book {
    font: inherit;
    padding-top: 4px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 4px;
    border: none;
    color: #ffffff;
    background-color: #766357;
}

.btn-book:hover {
    background-color: #604e43;
}

.btn-book:active {
    color: rgba(255,255,255,0.3);
    background-color: #503e33;
}

.rating {
    
    float: right;
    width: 20%;
    padding-top: 3px;
    text-align: right;
}

.rating > span:not(:last-of-type) {
    display: block;
    margin-bottom: 38px; 
}

.rating .stars {
    font-size: 0;
    background-repeat: no-repeat;
    background-position: top right;
}

.stars-4 {
    background-image: url("../img/hotels/stars-4.png");
}

.stars-3 {
    background-image: url("../img/hotels/stars-3.png");
}

.stars-2 {
    background-image: url("../img/hotels/stars-2.png");
}

.rating .rating-value {
    padding: 4px 13px;
    font-weight: normal;
    color: #666666;
    background-color: #f2f2f2;
}

